

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #19222d;
}

p {
    margin: 0;
}

.btn {
    background-color: #fb4b4e;
    border-color: #fb4b4e;
    font-weight: 500;
    font-size: 14px;
}

.btn:hover {
    background-color: #E71D36;
    border-color: #E71D36;
    color: #ffffff;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(51,61,69,0.25)
}

.container-fluid {
    padding: 100px 0;
}

/* NAV  */
.navbar {
    background-color: #19222d;
}

.navbar-expand .navbar-nav .nav-link {
    color: #efefef;
}

.navbar-expand .navbar-nav .nav-link:hover, span {
    font-weight: 600;
    color: #fb4b4e;
}

li {
    margin: 1.5rem;
}

/* INTRO  */
#intro {
    text-align: center;
    background-color: #ffffff;
    /* background-color: #efefef; */
}

.intro-logo {
    width: 30%;
}

.intro-text {
    text-align: justify;
    width: 60%;
    margin: 50px auto 0;
    font-weight: 500;
}


/* WORKS  */
#works {
    background-color: #efefef;
    color: #19222d;
    /* color: #efefef;
    background-color: #333d45; */
}

.works-row {
    padding: 50px 0;
    border-radius: 100px 0;
}

.work-title {
    text-align: center;
    padding: 50px 0;
    width: 60%;
    margin: 0 auto;
}

.work-text {
    font-weight: 500;
}

.work-heading {
    font-weight: 600;
    font-size: 4rem;
}

.frontend-column {
    padding:0 30px;
    margin-bottom: 30px;
}

.work-subheading, .work-caption {
    padding-left: 15px;
}

.work-subheading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.work-caption {
    font-weight: 400;
}

.card-slider {
    width: 100%;
    display: flex;
    overflow: auto;
}

.card-slider::-webkit-scrollbar {
    height: 10px;
    width: 85%;
}

.card-slider::-webkit-scrollbar-track {
    /* background-color: #efefef; */
    background-color: #ffffff;
} 

.card-slider::-webkit-scrollbar-thumb {
    background-color: #333d45;
    /* background-color: #19222d; */
}

.card-slider::-webkit-scrollbar-thumb:hover {
    background-color: #19222d;
    /* background-color: #fb4b4e; */
}

.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    width: 90%;
    margin: 0 auto 30px;
    color: #19222d;
    box-shadow: 0px 2px 10px 0px rgba(25,34,45,0.4);
    border: 0;
    border-top: 5px solid #fb4b4e;

}

.fe-card {
    min-width: 300px;
    margin-right: 30px; 
    margin-bottom: 30px;
    color: #19222d;
}

.card-body {
    /* background-color: #efefef; */
}

.fe-title {
    min-height: 60px;
}

.card-text {
    color: #333d45;
    margin-bottom: 10px;
    min-height: 130px;
    font-size: 14px;
    font-weight: 400;
}


/* CONTACT  */
#contact {
    background-color: #ffffff;
    /* background-color: #efefef; */
    color: #19222d;
}

.contact-row {
    padding: 50px 10% 0;
    margin: 0;
}

.contact-caption {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.contact-heading {
    font-weight: 600;
    font-size: 4rem;
}

.contact-text {
    font-weight: 500;
}

.form-control {
    margin: 10px 0;
    border: 1px solid #333d45;
}

.form-control:focus {
    border-color: #333d45;
    box-shadow: 0 0 0 0.2rem rgba(251,75,78, 0.3);
}

.phone, .mail {
    width: 305px;
    margin: 20px 0;
}

.contact-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
}

.icon{
    color: #fb4b4e;
}

.sub-heading {
    font-weight: bold;
}

.err-msg {
    visibility: hidden;
    color: #E71D36;
    font-size: 14px;
}


.visible {
    visibility: visible;
}


/* FOOTER  */
#footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    /* background-color: #333d45; */
    background-color: #19222d;
    color: #efefef;
}

#footer img {
    width: 75px;
}

.footer-text {
    font-size: 14px;
}

.social-links {
    margin: 20px 0 10px;
    
}

.social-links a {
    color: #efefef;
}

@media(max-width: 991px) {
    /* INTRO  */
    .intro-logo {
        width: 40%;
    }
    
    .intro-text {
        width: 80%;
        margin: 50px auto 0;
    }

    /* WORK  */
    .work-title {
        width: 80%;
    }

    /* CONTACT  */
    .contact-caption {
        width: 80%;
    }

    .col-lg-7, .col-lg-5 {
        padding:0;
    }

    #contact .flex-column {
        flex-direction: row;
    }

}

@media(max-width: 767px) {
    /* INTRO  */
    .intro-logo {
        width: 40%;
    }
    
    .intro-text {
        width: 80%;
        margin: 50px auto 0;
    }

    /* WORKS  */
    #works {
        /* background-color: coral; */
    }

    .works-row {
        /* padding: 20px 10%; */
        /* margin: 25px auto; */
        /* text-align: center; */
    }

    .work-heading, .contact-heading {
        font-size: 2.5rem;
    }

    .work-subheading {
        font-size: 2rem;
    }

    .work-column, .frontend-column {
        width: 80%;
        margin: 0 auto 30px;
        padding: 0;
        text-align: center;
    }

    .work-subheading, .work-caption {
        padding-left: 30px;
        padding-right: 30px;
    }

    .card {
        width: 80%;
    }
    
}

@media(max-width: 479px) {
    /* NAV  */
    li {
        margin: 1.5rem 15px;
    }

    /* INTRO  */
    .intro-logo {
        width: 60%;
    }

    .intro-text {
        margin: 30px auto 0;
    }

    /* WORKS  */
    .card {
        width: 100%;
    }

    .work-subheading, .work-caption {
        padding: 0 10px;
        margin: 0 auto;
        width: 90%;
    }

    /* CONTACT  */
    .phone, .mail {
        width: 270px;
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    /* FOOTER  */
    .footer-text {
        font-size: 12px;
    }
}

@media(max-width: 375px) {
    /* INTRO  */
    .container-fluid {
        padding: 10% 30px;
    }
    .intro-logo {
        width: 70%;
    }
    .intro-text {
        width: 100%;
    }

    /* WORK  */
    .work-title {
        width: 100%;
        padding: 50px 30px;
    }

    .work-subheading, .work-caption {
        padding: 0;
    }

    /* CONTACT  */
    .contact-row {
        padding: 50px 0 0;
    }

    .contact-caption {
        width: 100%;
        margin: 0;
    }
}